.divSpacing{
    /* margin-left: 25%;
   margin-right: 25%;
   margin-top:4%;
   margin-bottom:4%; */
   margin:4% 25%;
}

.Click{
text-align: center;
padding-bottom:2%;
padding-top:2%;
padding-left:45%;
padding-right:45%;
color: white;
font-size:19px;
margin-top: -4px;
background-image: linear-gradient(to right, rgb(245, 201, 57) , rgb(140, 222, 102));
}


.img{
    
    width:100%;
    
}
