*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.div-Spacing{
    
   margin:10vh 25vw;
}

.Click{
    width: 100%;
text-align: center;
padding: 2% 42%;
color: white;
font-size:19px;
margin-top: -4px;
background-image: linear-gradient(to right, rgb(245, 201, 57) , rgb(140, 222, 102));
}


.img{
    
    width:100%;
    
}
